################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ToDoList/FileContentIndex
/.vs
/ToDoList.Data/obj
/ToDoList.Servicio/obj
/ToDoList.Web/obj
