<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Azure List 2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
	<nav class="navAzure">
		<a asp-controller="Tablero" asp-action="MisTableros">
			<h1>Azure List 2024</h1>
		</a>
	</nav>
</header>
<main role="main" class="containerAzure">
	@RenderBody()
	</main>
    <footer class="border-top footer text-muted">
        <div class="container">
            Programacion Web III - Dominguez Agustin - Godoy Matias - Lopez Cabanillas Ignacio - Oviedo Joaquin - Paiva Joaquin - Tucci Santiago
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
