@using ToDoList.Data.EF
<label class="col-md-2 control-label">Estados</label>

<select id="IdEstado" name="IdEstado">
    <option value="0">Seleccione un Estado</option>
    @foreach (Estado item in ViewBag.Estados)
    {
        if (((int?)ViewBag.IdEstadoSeleccionado).HasValue && ((int?)ViewBag.IdEstadoSeleccionado).Value == item.Id)
        {
            <option value="@item.Id" selected>@item.Nombre</option>
        }
        else
        {
            <option value="@item.Id">@item.Nombre</option>
        }
    }
</select>